article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
	background-color: #D5DFE1;
	color: #577270;
	font-family: "Jaldi", sans-serif;
}

body {
	overflow: auto;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.title {
	background: url("../../public/assets/annie-spratt-61562.jpg") no-repeat;
	background-size: cover;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	p {
		font-size: 36px;
		font-weight: bold;
	}
	h1 {
		opacity: 0.9;
		color: #577270;
		font-size: 20vw;
		margin: 0;
	}
	.fa {
		color: #577270;
		
	}
}

h2 {
	color: #D5DFE1;
	font-size: 3vw;
	margin: 50px 0;
	display: inline-block;
	background:
	linear-gradient(to right,
		RGBA(83, 109, 107, 1.00),
		RGBA(157, 206, 203, 1.00)
	);
	padding: 20px;
}

h3 {
	font-size: 20px;
}

.form-container--media {
	display: none;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: #577270;
	text-decoration: none;
	font-weight: bold;
}


.title-mobile {
	display: none;
}

input {
	margin: 5px;
	background-color: #fff;
	border: 3px solid #fff;
	color: #577270;
	padding: 10px;
	text-transform: uppercase;
	font-size: 22px;
	&:focus {
		outline: transparent;
		border: 3px solid #9DCECB;
	}
	&::placeholder {
		color: #9DCECB;
	}
}

input[type=text] {
	width: 400px;
}

form, .stylechecklist, .stylechecklist-filters {
	padding: 30px;
}




.form-container {
	display: flex;
	align-items: center;
	.form-text {
		display: flex;
		flex-direction: column;
	}
	input[type=submit] {
		width: 400px;
		height: 300px;
		margin: 0 auto;
		padding: 20px;
		transition: 0.5s;
		&:hover {
			color: #9DCECB;
		}
	}
}

.form-checklist {
	h3 {
		text-align: center;
	}
	.form-checklist--container {
		display: flex;
		margin-left: 35px;
		.form-checklist--checkbox {
			margin: 0 0 50px 0;
			.form-checklist--label {
				margin: 5px 0;
					input[type=checkbox] {
					position: absolute; // take it out of document flow
					opacity: 0; // hide it
					margin: 0;

					& + label {
					position: relative;
					cursor: pointer;
					padding: 0;
					margin: 20px;
					font-size: 20px;
					}

					// Box.
					& + label:before {
					content: "";
					margin-right: 10px;
					display: inline-block;
					vertical-align: text-top;
					width: 30px;
					height: 30px;
					background: #9DCECB;
					}

					// Box hover
					&:hover + label:before {
					background: #9DCECB;
					}

					// Box focus
					&:focus + label:before {
					box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
					}

					// Box checked
					&:checked + label:before {
					background: #9DCECB;
					}

					// Disabled state label.
					&:disabled + label {
					color: #9DCECB;
					cursor: auto;
					}

					// Disabled box.
					&:disabled + label:before {
					box-shadow: none;
					background: #ddd;
					}

					// Checkmark. Could be replaced with an image
					&:checked + label:after {
					content: "";
					position: absolute;
					left: 10px;
					top: 15px;
					background: white;
					width: 2px;
					height: 2px;
					box-shadow: 
					2px 0 0 white,
					4px 0 0 white,
					4px -2px 0 white,
					4px -4px 0 white,
					4px -6px 0 white,
					4px -8px 0 white;
					transform: rotate(45deg);
					}
				}
			}
		}
	}
}

.flex-container-parent {
	overflow: auto;
	.flex-container {
		overflow: auto;
		display: block;
		.stylechecklist-filteredlist--title {
			position: fixed;
			opacity: 0.8;
			margin: 20px;
		}
		.links {
			background:
			linear-gradient(to right,
				RGBA(83, 109, 107, 0.8),
				RGBA(157, 206, 203, 0.8)
			);
			font-size: 24px;
			position: fixed;
			display: block;
			margin: 200px 20px;
			padding: 10px;
			a {
				color: #D5DFE1;
			}
		}
	}
}

.flex-container {
	.stylechecklist {
		height: 100vh;
		p {
			text-align: center;
			font-size: 30px;
			a {
				color: RGBA(89, 117, 115, 1.00);
			}
		}
		h2 {
			margin: 10px 30px 30px 10px;
		}
		font-size: 24px;
		background:
		linear-gradient(
			RGBA(213, 223, 225, 0.8),
			RGBA(213, 223, 225, 1.00)
		),
		url("../../public/assets/felix-russell-saw-112140.jpg") no-repeat;
		background-size: 100%;
		background-position: 0px 68%;
		.stylechecklist-filters {
			justify-content: center;
			display: flex;
			flex-wrap: wrap;
			width: 80%;
			margin: 0 auto;
			.form-checklist--label {
				width: 50%;
				font-size: 30px;
				background: RGBA(124, 163, 161, 1.00);
				label {
					margin-left: 10px;
				}
				input[type=checkbox] {
					margin: 20px;
				}
			}
		}
	}
}


.stylechecklist-filteredlist {
	height: 100vh;
	color: #fff;
	padding: 140px;
	border-right: 10px solid RGBA(83, 109, 107, 1.00);
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	background: 
	linear-gradient(
		RGBA(64, 8, 28, 0.8),
		RGBA(64, 8, 28, 1)
	),
	url("../../public/assets/mohammad-faruque-197300.jpg") no-repeat;
	background-size: cover;
	background-position: 0;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			background:
			linear-gradient(
				RGBA(83, 109, 107, 1.00),
				RGBA(83, 109, 107, 1.00)
			);
			margin: 20px;
			width: 300px;
			padding: 20px;
			span {
				text-transform: uppercase;
				font-weight: bold;
				margin-right: 5px;
			}
			p {
			display: block;
			font-size: 20px;
			line-height: 1.2;
			}
		}
	}
}




@media (max-width: 1390px) {
	h2 {
	    font-size: 3vw;
	    margin: 10px 0 20px 0;
	    background: linear-gradient(to right, RGBA(83, 109, 107, 1), RGBA(157, 206, 203, 1));
	    padding: 20px;
	}
	.form-container--media {
		text-align: center;
		display: block;
		margin: 5px 0;
		width: 100%;
	}
	.form-instructions {
		h2 {
			display: inline-block;
		}
	}
	form {
		
		align-items: center;
		.form-container {
			display: flex;
			flex-direction: column;
			.form-text {
				input[type=text] {
					width: 700px;
					font-size: 16px;
				}
			}
			input[type=submit] {
				text-align: center;
				width: 700px;
				height: 50px;
				margin: 0;
				padding: 5px;
			}
			.form-checklist {
				display: flex;
				justify-content: flex-start;

				h3 {
					display: none;
				}
				.form-checklist--container {
					.form-checklist--checkbox {
						margin: 0 0 10px 0;
						.form-checklist--label {
							font-size: 16px;
							
							input[type=checkbox] + label {
								font-size: 16px;
							}

						}
					}
				}
			}
		}
	}
	.flex-container {
		.stylechecklist {
			h2 {
				margin: 50px 0;
				display: inline-block;
			}
		}
	}
	.flex-container-parent {
		.flex-container {
			.links {
				background:
				linear-gradient(to right,
					RGBA(83, 109, 107, 0.7),
					RGBA(157, 206, 203, 0.7)
				);
				font-size: 2.5vw;
				position: fixed;
				display: block;
				margin: 20px 0 0 30%;
				padding: 10px;
			}
		}
	}
}
/* Portrait tablet and small desktops */
@media (max-width: 960px) {

	form {
		h2 {
			margin: 10px 0;
		}
		.form-container {
			h3 {
				text-align: center;
			}
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			.form-text {
				input[type=text] {
					width: 500px;
					margin: 5px;
				}
			}
			.form-checklist {
				margin: 10px;
				.form-checklist-label {
					width: 100%;
				}
			}
			input[type=submit] {
				width: 500px;
				height: auto;
				margin: 0 auto;
				padding: 20px;
				transition: 0.5s;
				&:hover {
					color: #9DCECB;
				}
			}
		}
	}
	.flex-container {
		.stylechecklist {
			display: block;
			background-size: cover;
			h2 {
				margin: 0;
			}
			.stylechecklist-filters {
				display: block;
				padding: 30px;
				.form-checklist--label {
					width: 100%;
					line-height: 1.1;
					height: 42px;

					label {
						font-size: 30px;
						margin-left: 10px;
					}

				}
			}
		}
	}
	h2 {
		font-size: 3vw;
		margin: 50px 10px;
	}
	.flex-container {
		.stylechecklist {
			display: block;
			background-size: cover;

			.stylechecklist-filters {
				display: block;
				padding: 30px 100px;
				.form-checklist--label {
					width: 100%;
					label {
						font-size: 20px;
						margin-left: 10px;
					}

				}
			}
		}
	} 
	.stylechecklist-filteredlist {
		padding: 120px 50px;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	h2 {
	    font-size: 3vw;
	    margin: 20px 0;
	}
	form {
		.form-container {
			display: block;
			.form-text {
				input[type=text] {
					width: 440px;
					margin: 10px;
					font-size: 16px;
				}
			}
			input[type=submit] {
				text-align: center;
				width: 440px;
				height: 50px;
				margin: 0;
				padding: 5px;
			}
			.form-checklist {
				display: flex;
				// width: 450px;
				justify-content: flex-start;

				h3 {
					display: none;
				}
				.form-checklist--container {
					.form-checklist--checkbox {
						margin: 0 0 10px 0;
						.form-checklist--label {
							font-size: 16px;
							
							input[type=checkbox] + label {
								font-size: 16px;
							}

						}
					}
				}
			}
		}
	}
}
/* Landscape phones and down */
@media (max-width: 532px) {
	.title-mobile {
		display: flex;
		flex-direction: column;
		margin-top: calc(50% - 10vw);
		h2 {
			background: none;
		}
	}
	.title-clip {
		display: none;
	}
	h2 {
		font-size: 5vw;
		text-align: center;
		margin: 10px 30px 5px 10px;
		padding: 0;
	}
	.form-container--media {
	    // margin: 5px 30px;
	}
	form {
		padding: 0;
		.form-container {
			display: block;
			margin-left: 20px;
			.form-text {
				display: block;
				align-items: center;
				input[type=text] {
					width: 300px;
					padding: 5px;
					margin: 5px;
				}
			}
			input[type=submit] {
				text-align: center;
				width: 300px;
				height: 50px;
				margin: 0;
				padding: 5px;
			}
			.form-checklist {
				h3 {
					display: none;
				}
				.form-checklist--container {
					margin-left: 0;
					.form-checklist--checkbox {
						margin: 0 0 10px 0;
						.form-checklist--label {
							margin: 0;
							input[type=checkbox] {

								& + label {
								position: relative;
								cursor: pointer;
								padding: 0;
								margin: 20px;
								font-size: 12px;
								}

								// Box.
								& + label:before {
								content: "";
								margin-right: 10px;
								display: inline-block;
								vertical-align: text-top;
								width: 15px;
								height: 15px;
								background: #9DCECB;
								}

								// Box hover
								&:hover + label:before {
								background: #9DCECB;
								}

								// Box focus
								&:focus + label:before {
								box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
								}

								// Box checked
								&:checked + label:before {
								background: #9DCECB;
								}

								// Disabled state label.
								&:disabled + label {
								color: #9DCECB;
								cursor: auto;
								}

								// Disabled box.
								&:disabled + label:before {
								box-shadow: none;
								background: #ddd;
								}

								// Checkmark. Could be replaced with an image
								&:checked + label:after {
								content: "";
								position: absolute;
								left: 3px;
								top: 7px;
								background: white;
								width: 2px;
								height: 2px;
								box-shadow: 
								2px 0 0 white,
								4px 0 0 white,
								4px -2px 0 white,
								4px -4px 0 white,
								4px -6px 0 white,
								4px -8px 0 white;
								transform: rotate(45deg);
								}
							}
						}

					}
				}
			}
		}
	}
	.flex-container-parent {
		.flex-container {
			.links {
				background:
				linear-gradient(to right,
					RGBA(83, 109, 107, 0.7),
					RGBA(157, 206, 203, 0.7)
				);
				font-size: 2.5vw;
				position: fixed;
				display: block;
				margin: 20px 0 0 45%;
			}
		}
	}
	.flex-container {
		.stylechecklist {
			display: block;
			background-size: cover;
			padding: 5px;
			h2 {
				margin: 10px 30px 5px 10px;
			}
			.stylechecklist-filters {
				display: block;
				padding: 0;
				.form-checklist--label {
					width: 100%;
				}
			}
		}
	}
	.stylechecklist-filteredlist--title {
		padding: 10px;
	}
}

